## General  ##
I. 	What's wrong with:  
		`my_dict = {['key']:1}`?
	
    
   What is the error type and why doesn't this work?

** Answer **

The error is a `TypeError` as we cannot use a list as the key in a dict, dict keys need to be immutable. We can use int(), float(), str(), tuple(), frozenset(), bytes() values instead.

II. Recreate the array below using list comprehension
		
		data = [0,1,2,3,4,5,6,7,8,9,10]
        
** Answer **

In [3]:
data = [i for i in xrange(0,11)]
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

III. Using lambda, map, and reduce create the following given the array below
		
		data = [0,1,2,3,4,5,6,7,8,9,10]
		
		1) list of integers multiplied by 3
		2) sum of all the values in the original array
        
** Answer **

In [4]:
'''
1) list of integers multiplied by 3
'''
multiply_by_three = map(lambda x: x * 3, data)
multiply_by_three

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [5]:
'''
2) sum of all the values in the original array
'''
sum_of_all_values = reduce(lambda x,y: x + y, data)
sum_of_all_values

55

## Classes
1. Write a class called Wizard with the following attributes: name, hogwarts_house, and patronus
2. Now write a method cast_spell() for that class, that prints out a spell 
3. Create an instance of the Wizard class and print out the attributes

In [16]:
'''
class called Wizard
'''
class Wizard(object):
    def __init__(self, name, hogwarts_house, patronus, spell):
        self.name = name
        self.hogwarts_house = hogwarts_house
        self.patronus = patronus
        self.spell = spell
    
    def cast_spell(self):
        return self.spell
    
    
# Create an instance of the Wizard class and print out the attributes
dumbledore = Wizard('Albus Dumbledore', 'Gryffindor', 'Phoenix', 'Alohomora')
print "Attributes of Wizard object: ", vars(dumbledore)

# Alohomora - Used to open and unlock doors
print 'Dumbledore casts: ', dumbledore.cast_spell()

Attributes of Wizard object:  {'hogwarts_house': 'Gryffindor', 'spell': 'Alohomora', 'patronus': 'Phoenix', 'name': 'Albus Dumbledore'}
Dumbledore casts:  Alohomora

## Working with Files

Write the following dictionary to a csv file:

	wizard_data = {'wizard_firstname': ['Godric', 'Salazar', 'Rowena', 'Helga'],
		'wizard_lastname': ['Gryffindor', 'Slytherin', 'Ravenclaw','Hufflepuff'],
		'house_symbol': ['Lion', 'Snake', 'Eagle', 'Badger'],
        'age': [5340, 4101, 8340, 3450],
        'favorite_treat': ['cauldron cakes','chocolate frogs','butter beer', 'pumpkin pasties']
        }



Parsing & Iterators

1. Write a loop to print out the favorite_treats key in the wizard_data dictionary
2. Print just the values in the dictionary without using a loop 

** Answer **

In [21]:
import csv
wizard_data = {'wizard_firstname': ['Godric', 'Salazar', 'Rowena', 'Helga'],
               'wizard_lastname': ['Gryffindor', 'Slytherin', 'Ravenclaw','Hufflepuff'],
               'house_symbol': ['Lion', 'Snake', 'Eagle', 'Badger'],
               'age': [5340, 4101, 8340, 3450],
               'favorite_treat': ['cauldron cakes','chocolate frogs','butter beer', 'pumpkin pasties']
}

with open('dict.csv', 'wb') as csv_file:
    writer = csv.writer(csv_file)
    for key, value in wizard_data.items():
       writer.writerow([key, value])
'''
Output stored in dict.csv:

age,"[5340, 4101, 8340, 3450]"
house_symbol,"['Lion', 'Snake', 'Eagle', 'Badger']"
favorite_treat,"['cauldron cakes', 'chocolate frogs', 'butter beer', 'pumpkin pasties']"
wizard_lastname,"['Gryffindor', 'Slytherin', 'Ravenclaw', 'Hufflepuff']"
wizard_firstname,"['Godric', 'Salazar', 'Rowena', 'Helga']"
'''

In [28]:
'''
Write a loop to print out the favorite_treats key in the wizard_data dictionary
'''
for k,v in wizard_data.items():
    if k == 'favorite_treat':
        print k,v

favorite_treat ['cauldron cakes', 'chocolate frogs', 'butter beer', 'pumpkin pasties']

In [30]:
'''
Print just the values in the dictionary without using a loop 
'''
import pprint
pprint.pprint(wizard_data.values())

[[5340, 4101, 8340, 3450],
 ['Lion', 'Snake', 'Eagle', 'Badger'],
 ['cauldron cakes', 'chocolate frogs', 'butter beer', 'pumpkin pasties'],
 ['Gryffindor', 'Slytherin', 'Ravenclaw', 'Hufflepuff'],
 ['Godric', 'Salazar', 'Rowena', 'Helga']]

## Working with Databases 
Given the connection below write a sql query to pull the first 10 rows from public.fake_database

		import psycopg2

		conn = psycopg2.connect(host=,
			port=,
			user=,
			passwd=,
			db=)

		cur = conn.cursor()

		INSERT CODE BELOW



** Answer **

In [ ]:
import psycopg2
conn = psycopg2.connect("dbname=public.fake_database user=postgres")
cur = conn.cursor()
cur.execute("Select * From public.fake_database LIMIT 10;")
cur.close()
conn.close()

Create a table and write the following dictionary to a table called public.hogwarts using psycopg2

		wizard_dict = ({"first_name":"Hermione", "last_name":"Granger"},
			            {"first_name":"Harry", "last_name":"Potter"},
			            {"first_name":"Ronald", "last_name":"Weasley"})
                        
** Answer **

In [ ]:
conn = psycopg2.connect("dbname=public.fake_database user=postgres")
cur = conn.cursor()
cur.execute("CREATE TABLE public.hogwarts (id serial PRIMARY KEY, first_name varchar, last_name varchar);")
cur.execute("INSERT INTO public.hogwarts (first_name, last_name) VALUES (%s, %s)",('Hermione', "Granger"))
cur.execute("INSERT INTO public.hogwarts (first_name, last_name) VALUES (%s, %s)",('Harry', "Potter"))
cur.execute("INSERT INTO public.hogwarts (first_name, last_name) VALUES (%s, %s)",('Ronald', "Weasley"))
conn.commit()
cur.close()
conn.close()